# dependencies
/node_modules

# logs
*.log

# runtime data
pids
*.pid
*.seed
*.pid.lock

# local configuration
*.env 
*.env.local
*.env.production
*.env.development.local
*.env.test.local
*.env.production.local

# misc
.DS_Store